<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🌱</text></svg>" />
    <title>{{ page_title }} - {{ site_title }}</title>
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <header>
      <a href="/" class="title">
        <h2>{{ site_title }}</h2>
      </a>
      <nav>
        <a href="/">Home</a>
        <a href="https://github.com/kevinastock">GitHub</a>
        <a href="mailto:kevin@kevinstock.org">Email</a>
        <a href="tel:614-458-8382">Phone</a>
      </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
      🚀
    </footer>
  </body>
</html>
